PORT=3000
NODE_ENV=development

USER_SERVICE_URL=http://localhost:4001
COURSE_SERVICE_URL=http://localhost:4002
ASSIGNMENT_SERVICE_URL=http://localhost:4003
GRADE_SERVICE_URL=http://localhost:4004

JWT_SECRET=your_jwt_secret_here